body {
  font-family: helvetica;
  text-align: center;
  font-size: 30px;
  background-color: rgb(227, 226, 231);
  padding-top: 5px;
}

h1 {
  margin-top: 50px;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-mapy {
  text-decoration: none;
  font-weight: bold;
  color: rgb(37, 37, 74);
  margin-top: 50px;
}

.link-mapy:hover{
 color: rgb(75, 75, 124)
}

